.custom-option {
  display: flex;
  align-items: center;
  justify-content:left;
  padding: 8px;
  cursor: pointer;
  font-family: monospace;
}

.bird-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.bird-label {
  font-size: 16px;
}
